%section.hero.is-success.is-fullheight
  .hero-body
    .container.has-text-centered
      .column
        %h3.title.has-text-grey Login
        = render '/messages'
        .box
          %figure.avatar
            %img{src: '/images/logo.jpeg'}
          = form_for(:session, url: login_path) do |f|
            .field
              .control
                = f.email_field :email, class: 'input is-large', autofocus: "", placeholder: "Email", type: "email", required: true
            .field
              .control
                = f.password_field :password, class: 'input is-large', placeholder: "Password", type: "password", required: true
            = f.submit "Login", class: "button is-block is-primary is-large is-fullwidth"
