%form{method: :post, action: '/horses'}
  = hidden_field_tag :authenticity_token, form_authenticity_token
  %table.table.is-fullwidth
    %tbody
      %tr
        %td
          %label.label{for: :black_horse} Black Horse
        %td
          .select
            %select{name: :black_horse_id, required: true}
              %option{value: ''} Select
              - for black_horse in Team.black_horses
                %option{value: black_horse.id, selected: current_user.black_horse == black_horse}= black_horse.name.titleize
      %tr
        %td
          %label.label{for: :grey_horse} Grey Horse
        %td
          .select
            %select{name: :grey_horse_id, required: true}
              %option{value: ''} Select
              - for grey_horse in Team.grey_horses
                %option{value: grey_horse.id, selected: current_user.grey_horse == grey_horse}= grey_horse.name.titleize
      %tr.border-top
        %td
          %label.label{for: :champion_id} Winner
        %td
          .select
            %select{name: :champion_id, required: true}
              %option{value: ''} Select
              - for champion in Team.winner_options
                %option{value: champion.id, selected: current_user.champion == champion}= champion.name.titleize
              %option{value: 'none_of_the_options', selected: current_user.champion == 'none_of_the_options'}= 'None of the above'
      %tr
        %td
          %label.label{for: :top_scorer} Top Scorer
        / %td
        /   %input.input{name: :top_scorer, value: (current_user.top_scorer.titleize if current_user.top_scorer), required: true}
        %td
          .select
            %select{name: :top_scorer, required: true}
              %option{value: ''} Select
              - for scorer in Team.top_scorer_options
                %option{value: scorer, selected: current_user.top_scorer == scorer}= scorer
              %option{value: 'other', selected: current_user.top_scorer == 'other'}= 'other'


  %button.button.is-link.is-full-width.submit-button{type: :submit} Submit
