%table.table.is-full-width.display-block.word-wrap
	%thead
		%th.align-bottom #
		%th.align-bottom Name
		%th{title: 'Black Horse', rel: 'tooltip'}
			%img.icon.is-medium.image-center{src: '/images/blackhorse.png'}
		%th{title: 'Grey Horse', rel: 'tooltip'}
			%img.icon.is-medium.image-center{src: '/images/greyhorse.png'}
		%th{title: 'Winner', rel: 'tooltip'}
			%img.icon.is-medium.image-center{src: '/images/winner.png'}
		%th{title: 'Top Scorer', rel: 'tooltip'}
			%img.icon.is-medium.image-center{src: '/images/scorer.png'}
		%th{title: 'After the Army Trip', rel: 'tooltip'}
			%img.icon.is-medium.image-center{src: '/images/army.png'}
	%tbody
		- for rank in @ranking
			- for user in rank.rankables
				%tr
					%td= rank.rank
					%td= user.name
					- if bopdial_started? or user == current_user
						%td{title: user.black_horse ? "#{user.black_horse.name.titleize}" : '', rel: 'tooltip'}
							- if user.black_horse
								%div{class: got_horse_right?(:black_horse, user) ? '' : 'crossed'}
									%img.flag_icon{src: "/flags/#{user.black_horse.name}.png"}
						%td{title: user.grey_horse ? "#{user.grey_horse.name.titleize}" : '', rel: 'tooltip'}
							- if user.grey_horse
								%div{class: got_horse_right?(:grey_horse, user) ? '' : 'crossed'}
									%img.flag_icon{src: "/flags/#{user.grey_horse.name}.png"}
						%td{title: user.champion ? "#{user.champion.name.titleize}" : '', rel: 'tooltip'}
							- if user.champion
								%div{class: got_horse_right?(:champion, user) ? '' : 'crossed'}
									%img.flag_icon{src: "/flags/#{user.champion.name}.png"}
						%td
							%div{class: got_horse_right?(:top_scorer, user) ? '' : 'crossed'}
								= user.top_scorer.titleize if user.top_scorer
						%td
							%div{class: got_horse_right?(:after_army_trip, user) ? '' : 'crossed'}
								= after_army_short(user.after_army_trip) if user.after_army_trip
					- else
						%td
						%td
						%td
						%td
						%td


