.columns
  .column.is-half.is-offset-one-quarter
    = render '/messages'
    %h1.title Sign up
    = form_for(@user) do |f|
      = f.label :name
      = f.text_field :name, class: 'input'
      = f.label :email
      = f.email_field :email, class: 'input'
      = f.label :password
      = f.password_field :password, class: 'input'
      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation, class: 'input'
      .s20
      = f.submit "Create my account", class: "button is-link"