%h1.title Standings
= render 'users/table_tabs'
- if current_account.stats.empty?
	.s20
	%p.left-margin Coming Soon!
- else
	- if bop_account?
		.s20
		%label.label.center Rare Bets Leaders
		= column_chart @nadir_chart, colors: ["#b00", "#666"], ytitle: "Rare Bets Count"
	- if Game.first.played?
		- @charts_data.each_with_index do |chart, index|
			- if index % 2 == 0
				= column_chart chart
			- else
				= column_chart chart, colors: ["#b00", "#666"]
			%table.table
				%tbody
					- @groups_data[index].each do |category, users|
						%tr.no-border-bottom
							%td
								%label.label= category
							%td
								= users.join(', ')
