%h1.title Standings
= render 'users/table_tabs'
.s10
%table.table.is-full-width.display-block.word-wrap
	%thead
		%th.text-centered #
		%th Name
		%th{title: 'Daily score', rel: 'tooltip'}
			%img.icon.is-medium.image-center{src: '/images/today-header.png'}
		%th.text-centered Pts
		%th
		%th.wide-column{title: 'Kivoon', rel: 'tooltip'}
			%img.icon.is-medium.image-center{src: '/images/kivoon.jpg', style: 'width: 53px;'}
		%th{title: 'Goal Difference', rel: 'tooltip'}
			%img.icon.is-medium.image-center{src: '/images/difference.png'}
		%th{title: 'Bingo', rel: 'tooltip'}
			%img.icon.is-medium.image-center{src: '/images/bingo-black.png'}
		- if bop_account?
			%th{title: 'Rare Bingo', rel: 'tooltip'}
				%img.icon.is-medium.image-center{src: '/images/nadir.png'}
		%th{title: 'Donkey', rel: 'tooltip'}
			%img.icon.is-medium.image-center{src: '/images/donkey-black2.png'}
		%th{title: 'After the Army Trip', rel: 'tooltip'}
			%img.icon.is-medium.image-center{src: '/images/army.png'}


	%tbody
		- for rank in @ranking
			- for user in rank.rankables
				%tr
					- if bop_account?
						%td.min-width.padding-bottom
							%img.icon.is-medium.image-center{src: "/images/#{rank.rank}-filled.png"}
					- else
						%td.text-centered.align-bottom= rank.rank
					%td.align-bottom
						- if user.daily_king
							%img.icon.is-small.image-center{src: '/images/king.png'}
						- if user.daily_loser
							%img.icon.is-small.image-center{src: '/images/loser.png'}
						= user.name
					%td.min-width.text-centered.align-bottom.active-deadline= user.daily_score
					%td.min-width.text-centered.align-bottom.bold.red= user.points
					%td
					%td.min-width.text-centered.align-bottom= user.kivoon
					%td.min-width.text-centered.align-bottom= user.goal_diffrence
					%td.min-width.text-centered.align-bottom= user.bingo
					- if bop_account?
						%td.min-width.text-centered.align-bottom= user.nadir_bingo
					%td.min-width.text-centered.align-bottom= user.donkey
					%td.min-width
						- if user.after_army_trip == 'asia'
							%img.icon.is-medium.image-center{src: '/images/check.png'}
						- else
							%img.icon.is-medium.image-center{src: '/images/x.png'}
