%h1.title Standings
%table.table.is-full-width
	%thead
		%th Name
		%th Points
		%th Bingo
		%th Donkey
		%th Black Horse
		%th Grey Horse
		%th Winner
		%th Top scorer
		%th After Army
	%tbody
		- for user in @users
			%tr
				%td= user.name
				%td= user.points
				- if bopdial_started? or user == current_user
					%td= user.bingo if bopdial_started?
					%td= user.donkey if bopdial_started?
					%td
						- if user.black_horse
							%img.flag_icon{src: "/flags/#{user.black_horse.name}.png"}
					%td
						- if user.grey_horse
							%img.flag_icon{src: "/flags/#{user.grey_horse.name}.png"}
					%td
						- if user.champion
							%img.flag_icon{src: "/flags/#{user.champion.name}.png"}
					%td= user.top_scorer.titleize if user.top_scorer
					%td= user.after_army_trip.titleize if user.after_army_trip
				- else
					%td
					%td
					%td
					%td
					%td
					%td
					%td

