%tr.no-border
  %td.no-padding-bottom{'colspan' => 1}
    =game.match_time.strftime('%d/%m %H:%M') if game.match_time
  %td.no-padding-bottom.align-right.stadium-text{'colspan' => 3}
    =game.stadium
  - rowspan = game.played? ? 3 : 2
  - if game.not_editable?(account: current_account)
    %td.next-arrow.clickable.action-button{'rowspan' => rowspan, 'data-href' => "/games/#{game.id}" }
      %a.fa.fa-chevron-right
  - elsif bet
    %td.edit-bet.clickable.action-button{'rowspan' => rowspan}
      %a.fa.fa-pencil
  - else
    %td.action-button{'rowspan' => rowspan}
-if game.played?
  %tr.no-border.stadium-text
    %td.no-padding-top Final score
    %td.no-padding-top.text-centered.regular-size= game.score_a
    %td.no-padding-top.text-centered.regular-size= game.score_b
    %td.no-padding-top

%tr{class: (bet or game.not_editable?(account: current_account)) ? 'clickable' : '', 'data-href' => game.not_editable?(account: current_account) ? "/games/#{game.id}" : nil, 'data-edit' => (bet and game.editable?(account: current_account)) ? 'editable' : nil }
  %input{type: :hidden, name: :game_id, value: game.id}
  %td.left-bet-td.align-right
    - unless game.place_holder?
      %img.flag_icon.float-left{src: "/flags/#{game.team_a.name}.png"}
    %label= game.team_a.name.titleize
  %td.no-padding
    %input.input.one_digit.score_a{name: "bets[#{game.id}][score_a]", size: 1, maxlength: 1, value: bet ? bet.score_a : '', disabled: (game.not_editable?(account: current_account) or bet.present?), type: :tel}
  %td.no-padding
    %input.input.one_digit.score_b{name: "bets[#{game.id}][score_b]", size: 1, maxlength: 1, value: bet ? bet.score_b : '', disabled: (game.not_editable?(account: current_account) or bet.present?), type: :tel}
  %td.left-bet-td
    %label= game.team_b.name.titleize
    - unless game.place_holder?
      %img.flag_icon.float-right{src: "/flags/#{game.team_b.name}.png"}

