%tr
  %input{type: :hidden, name: :game_id, value: game.id}
  %td.narrow
    - unless game.place_holder?
      %img.flag_icon{src: "/flags/#{game.team_a.name}.png"}
    %label= game.team_a.name.titleize
  %td
    %input.input.one_digit{name: "bets[#{game.id}][score_a]", size: 1, maxlength: 1, value: bet ? bet.score_a : '', disabled: game.not_editable? }
  %td
    %input.input.one_digit{name: "bets[#{game.id}][score_b]", size: 1, maxlength: 1, value: bet ? bet.score_b : '', disabled: game.not_editable? }
  %td
    - unless game.place_holder?
      %img.flag_icon{src: "/flags/#{game.team_b.name}.png"}
    %label= game.team_b.name.titleize
  %td
    - if game.not_editable?
      %a.button.is-link{href: "/games/#{game.id}" } View Bets
  %td
    %p= game.match_time.strftime('%A, %B %d, %H:%M') if game.match_time
  %td
    %p= game.stadium

