%tr
  %input{type: :hidden, name: :game_id, value: game.id}
  %td
    %label.label.is-pulled-right= game.team_a.name
  %td
    %input.input.one_digit{name: "bets[#{game.id}][team_a_score]", size: 1, maxlength: 1, value: bet ? bet.team_a_score : ''}
  %td
    %input.input.one_digit{name: "bets[#{game.id}][team_b_score]", size: 1, maxlength: 1, value: bet ? bet.team_b_score : ''}
  %td
    %label.label= game.team_b.name
  %td
    %p= game.match_time.strftime('%A, %B %d, %H:%M') if game.match_time