.s20
%table.table.is-hoverable
  %thead
    %th.centered.clickable{'data-href' => games_page(@game)}
      %a.fa.fa-chevron-left
    %th
      %img.flag_icon{src: "/flags/#{@game.team_a.name}.png"}
      = @game.team_a.name.titleize
    %th= @game.score_a
    %th= @game.score_b
    %th
      %img.flag_icon{src: "/flags/#{@game.team_b.name}.png"}
      = @game.team_b.name.titleize
    %th.align-bottom Points
    %th
  %tbody
    - for bet in @bets
      %tr
        %td= bet.user.name
        %td
        %td= bet.score_a
        %td= bet.score_b
        %td
        %td.text-centered= bet.points
        %td
          - if bet.nadir?
            %i.icon.fa.fa-star.large-font.dark-red

